<% include layouts/header.ejs %>

<h1><b>Name:          </b> &nbsp;  <%= student.lname %>  <%= student.fname %></h1>
<p><b>Age:            </b> &nbsp;  <%= student.age %>    </p>
<p><b>Sex:            </b> &nbsp;  <%= student.sex %>    </p>
<p><b>Course of study:</b> &nbsp;  <%= student.course %> </p>
<p><b>About student:  </b> &nbsp;  <%= student.matric %> </p>
<p><b>About student:  </b> &nbsp;  <%= student.desc %>   </p>


<% include layouts/footer.ejs %>