<% include layouts/header.ejs %>

<h1>Name: <%= student.lname %> - <%= student.fname %></h1>
<p>Age: <%= student.age %></p>
<p>Sex: <%= student.sex %></p>
<p>Course of study:<%= student.course %></p>
<p>About student: <%= student.desc %></p>

<% include layouts/footer.ejs %>